/* ---------------- Zone -------------------*/
.zone{
  text-align: center;
}

.zone > p{
  display: table;
  margin: 150px auto 0 auto;
  padding: 2px 6px;
}

.z1{
  margin-top: 4vh;
  line-height: 200%;
}

.zone-grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1.7vw;
  margin: 100px 25vw 150px 25vw;
  box-sizing: border-box;
  text-align: center;
}

.zone-grid > a{
  padding: 20px;
  background-color: #e2e2e2;
}

.zone-grid > a:nth-child(3){
  background-color: #ff001e;
  color: white;
}

/* -------------------------------- Media Queries -----------------------------------*/
/* -------------------------------- ------------- -----------------------------------*/

/* ---------Min width--------*/
@media (min-width: 1399.98px) {}

/* ---------Max width--------*/
@media (max-width: 1529.98px) {
  /* ---------------- Zone -------------------*/
  .zone > p{
    margin: 130px auto 0 auto;
  }

  .zone-grid{
    margin: 90px 20vw 130px 20vw;
  }
}

@media (max-width: 1399.98px) {
  /* ---------------- Zone -------------------*/
  .zone > p{
    margin: 110px auto 0 auto;
  }

  .zone-grid{
    margin: 80px 20vw 110px 20vw;
  }
}

@media (max-width: 1329.98px) {}

@media (max-width: 1199.98px) {
  /* ---------------- Zone -------------------*/
  .zone > p{
    margin: 100px auto 0 auto;
  }

  .zone > .font3{
    font-size: 6.5rem;
  }

  .zone-grid{
    margin: 80px 15vw 90px 15vw;
  }
}

@media (max-width: 991.98px) {
  /* ---------------- Zone -------------------*/
  .zone > p{
    margin: 100px auto 0 auto;
  }

  .zone > .font3{
    font-size: 5.5rem;
  }

  .zone-grid{
    margin: 70px 15vw 110px 15vw;
  }
}

@media (max-width: 840.98px) {
  /* ---------------- Zone -------------------*/
  .zone > p{
    margin: 80px auto 0 auto;
  }

  .zone > .font3{
    font-size: 5.5rem;
  }

  .zone-grid{
    margin: 50px 12vw 80px 12vw;
    gap: 2.7vw;
  }
}

@media (max-width: 749.98px) {}

@media (max-width: 699.98px) {
  /* ---------------- Zone -------------------*/
  .zone{
    margin: 50px 12vw 60px 12vw;
  }

  .zone > .font3{
    font-size: 5rem;
  }

  .zone-grid{
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 0 12vw 80px 12vw;
    gap: 15px 0;
  }
}

@media (max-width: 633.98px) {}

@media (max-width: 439.98px) {
  /* ---------------- Zone -------------------*/
  .zone{
    margin: 70px 12vw 40px 12vw;
  }

  .zone > .font3{
    font-size: 4rem;
  }

  .zone > p{
    margin: 0 auto 8px auto;
  }

  .z1{
    line-height: 180%;
  }

  .zone-grid{
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 0 0 8px 0;
    gap: 8px 0;
  }

  .zone-grid > a:nth-child(3){
    background-color: #00aeef;
  }
}

@media (max-width: 339.98px) {
  /* ---------------- Zone -------------------*/
  .zone{
    margin: 50px 12vw 40px 12vw;
  }

  .zone > .font3{
    font-size: 3rem;
  }
}

@media (max-width: 239.98px) {
  /* ---------------- Zone -------------------*/
  .zone{
    margin: 50px 5vw 40px 5vw;
  }

  .zone > .font3{
    font-size: 2rem;
  }
}
/* End @media Queries*/
