/* ---------------- Contact Form -------------------*/
#cf1{
  width: 55vw;
  margin: 0 auto;
  padding: 6vh 0 6vh 0;
  background-color: #2482b4;
}

.cf2{
  display: table;
  padding: 0.3vh 0.5vw;
  margin: auto;
  font-size: 0.9vw;
}

.cf3{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 6vw;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3vh;
}

.cf4 > div > label, input[type=text], textarea, input[type=submit] {
  font-size: 16px;
}

.cf4{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 50% 50%;
  gap: 0 4%;
  padding: 3vh 7.3vw;
  box-sizing: border-box;
}

.cf4 > div{
  border-bottom: 1px solid #aeaeae;
  padding-bottom: 0.6vh;/*move border down*/
}

.cf4 > div > label{
  width: 100%;
  float: left;
  display: block;
  padding: 0 0 10px 0;
}

input[type=text]{
  width: 100%;
  float: left;
  display: block;
  padding: 0;
}

input[type=text], textarea{
  background-color: #2482b4;
  border: none;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */

  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 140%;
  letter-spacing: 0.5px;
}

.cf4 > div:last-child{
  grid-area: 3 / 1 / 4 / 3;
}

input[type=text]:focus, textarea:focus{
  outline: none;
}

textarea{
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2482b4;
  border: none;
}

textarea:focus{
  height: 26vh;
}

input[type=submit] {
  width: 84%;
  margin: 0 8% 2.6vh 8%;
  padding: 1vh 1.5vw;
  box-sizing: border-box;
  border: none;
  cursor: pointer;

  text-transform: uppercase;
  background-color: #e2e2e2;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 12.5px;
  font-weight: normal;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #e2e2e2;
  color: #282828;
}

/* -------------------------------- Media Queries -----------------------------------*/
/* -------------------------------- ------------- -----------------------------------*/

/* ---------Min width--------*/
@media (min-width: 1399.98px) {
  .cf3 {
    font-size: 82px;
  }
}

/* ---------Max width--------*/
@media (max-width: 1329.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
  #cf1{
    width: 75vw;
  }

  .cf2{
    padding: 4px 6px;
    margin-bottom: 1.5vh;
    font-size: 13px;
  }

  .cf3{
    font-size: 35px;
  }
}

@media (max-width: 840.98px) {}

@media (max-width: 749.98px){}

@media (max-width: 633.98px) {
  #cf1{
    width: auto;
  }

  .cf3{
    font-size: 12vw;
  }

  .cf4{
    display: block;
    padding: 3vh 7.3vw;
  }

  .cf4 > div{
    margin-bottom: 5vh;
  }

  .cf4 > div > label, input[type=text], textarea{
    width: 100%;
    margin: 0;
    float: none;
  }

  input[type=submit] {
    width: 86%;
    margin: 0 7% 2.6vh 7%;
    padding: 1vh 0;
    box-sizing: border-box;
    }
}

@media (max-width: 439.98px) {}

@media (max-width: 339.98px) {}

/* -------- Max HEIGHT ------*/
@media (max-height: 419.98px) {}

@media (max-height: 349.98px) {}
