/* ---------------- Footer -------------------*/
footer{
  width: 100%;
  min-height: 140px;
  margin-top: 180px;
  padding: 100px 0;
  overflow: hidden;
  background-color: #dcdcdc;
}

.f1{
  display: block;
  float: left;
  width: 200px;
  padding-left: 8vw;
  padding-top: 1vh;

}

.f2{
  display: block;
  float: left;
  padding-left: 30vw;
  font-family: 'Barlow Condensed', sans-serif;
}

.f2 > ul, .f3 > ul{
  padding-top: 20px;
}

.f2 > ul > li, .f3 > ul > li{
  color: black;
  line-height: 180%;
  list-style-type: none;
  font-size: 15px;
}

.f3{
  display: block;
  float: left;
  padding-left: 12vw;
  font-family: 'Barlow Condensed', sans-serif;
}

/* -------------------------------- Media Queries -----------------------------------*/
/* -------------------------------- ------------- -----------------------------------*/

/* ---------Min width--------*/

@media (min-width: 1399.98px) {}

/* ---------Max width--------*/
@media (max-width: 1529.98px) {
  footer{
    margin-top: 150px;
    padding: 80px 0;
  }
}

@media (max-width: 1399.98px) {
  footer{
    margin-top: 120px;
    padding: 70px 0;
  }
}

@media (max-width: 1329.98px) {}

@media (max-width: 1199.98px) {
  .f2{
    padding-left: 25vw;
  }
}

@media (max-width: 991.98px) {
  footer{
    margin-top: 100px;
  }

  .f2{
    padding-left: 20vw;
  }

  .f3{
    padding-left: 10vw;
  }
}

@media (max-width: 840.98px) {
  .f2{
    padding-left: 15vw;
  }

  .f3{
    padding-left: 8vw;
  }
}

@media (max-width: 749.98px){
  footer{
    margin-top: 90px;
    padding: 70px 0 60px 0;
  }

  .f2{
    padding-left: 12vw;
  }

  .f3{
    padding-left: 6vw;
  }

  .f2 > ul > li, .f3 > ul > li{
    line-height: 220%;
    font-size: 1.6rem;
  }
}

@media (max-width: 633.98px) {
  footer{
    padding: 60px 0 40px 0;
    margin: 0;
  }

  .f1{
    display: block;
    float: inherit;
    padding: 0 0 40px 0;
    margin: 0 auto;
  }

  .f2{
    padding-left: 20%;
  }

  .f3{
    float: right;
    padding: 0 20% 0 0;
  }
}

@media (max-width: 439.98px) {
  .f2{
    padding-left: 10%;
  }

  .f3{
    float: right;
    padding: 0 10% 0 0;
  }
}

@media (max-width: 339.98px) {
  .f1{
    width: 55%;
  }

  .f2{
    float: none;
    padding-left: 15vw;
  }

  .f3{
    float: none;
    padding: 25px 0 0 15vw;
  }
}

/* -------- Max HEIGHT ------*/
@media (max-height: 419.98px)  {}

@media (max-height: 349.98px)  {}
