/* ---------------- Contact -------------------*/
.contact{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  margin: 150px 16vw;
  overflow: hidden;
}

.contact > div{
  text-align: center;
}

.c1{
  display: table;
  padding: 2px 6px;
  margin: 0 auto 0 auto;
}

.c2{
  height: 53px;
  margin: 30px auto 40px auto;
}

.c3{
  font-size: 16px;
}

.c4{
  height: 44px;
  margin: 30px auto 49px auto;
}

/* ---------------- Map -------------------*/
#map{
  margin: 0 22.5% 120px 22.5%;
}

/* -------------------------------- Media Queries -----------------------------------*/
/* -------------------------------- ------------- -----------------------------------*/

/* ---------Max width--------*/
@media (max-width: 1529.98px) {
  .contact{
    margin: 120px 16vw;
  }

  #map{
    margin: 0 22.5% 100px 22.5%;
  }
}

@media (max-width: 1399.98px) {
  .contact{
    margin: 100px 16vw;
  }

  #map{
    margin: 0 22.5% 90px 22.5%;
  }
}

@media (max-width: 1329.98px) {}

@media (max-width: 1199.98px) {
  .contact{
    margin: 90px 10vw;
  }
}

@media (max-width: 991.98px) {
  .contact{
    margin: 90px 6vw;
  }

  #map{
    margin: 0 12.8% 80px 12.8%;
  }
}

@media (max-width: 840.98px) {
  .contact{
    margin: 80px 4vw;
  }

  #map{
    margin: 0 12.8% 70px 12.8%;
  }
}

@media (max-width: 749.98px) {
  /* ---------------- Contact -------------------*/
  .contact{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 70px 14vw;
    gap: 40px 0;
  }

  .c2{
    margin: 25px auto 30px auto;
  }

  .c4{
    margin: 25px auto 39px auto;
  }
}

@media (max-width: 633.98px) {
  .contact{
    margin: 70px 8vw;
  }

  #map{
    margin: 0 0 -3px 0;
  }
}

@media (max-width: 499.98px) {
  .contact{
    margin: 70px 4vw;
  }
}

@media (max-width: 439.98px) {
  /* ---------------- Contact -------------------*/
  .contact{
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
  }

  .c2{
    margin: 25px auto 30px auto;
  }

  .c4{
    margin: 25px auto 39px auto;
  }
}

@media (max-width: 339.98px) {
  .contact{
    margin: 50px 4vw;
  }
}

@media (max-width: 239.98px) {}
/* End @media Queries*/
