/* ---------------- Alfa -------------------*/
.alfa{
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  gap: 10vh 2vw;
  width: 100%;
  box-sizing: border-box;
  padding: 150px 8% 0 8%;
  line-height: 180%;
  text-align: justify;
}

.a1{
  aspect-ratio: 3.2 / 1;
  grid-area: 1 / 1 / 2 / 3;
  background-image: url("/images/pictures/rails2.jpg");
  background-size: cover;
  background-position: center;
  background-color: #a5d4e6;
}

/* ---------------- Services -------------------*/
#services{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 2%;
  margin: 80px 8%;
}

.ser-box{
  height: 140px;
  padding: 37px 0 0 11%;
  box-sizing: border-box;
  border: lightgrey 2px solid;

  font-family: 'Barlow', sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.ser-box:first-child{
  background-color: red;
  border: red 2px solid;
}

.ser-pic{
  display: block;
  float: left;
  height: 66px;
  padding-right: 5%;
}

.change1{
  padding-right: 10%;
}

/* ---------------- Beta -------------------*/
.beta{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0 2vw;
  width: 100%;
  box-sizing: border-box;
  padding: 0 8vw;
  line-height: 180%;
}

.beta > .b1 > ul{
  margin: 20px 0;
  list-style: none;
  line-height: 250%;
}

.beta > .b1 > ul > li::before{
  display: inline-block;
  width: 2em;
  content: "■";
  color: red;
}

.b2{
  background-image: url("/images/pictures/trucks2.jpg");
  background-size: cover;
  background-position: top;
  background-color: #ebebeb;
}

/* ---------------- Gamma -------------------*/
.gamma{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5.2vh 3.2vw;
  width: 100%;
  box-sizing: border-box;
  padding: 0 8vw;
  margin-top: 200px;
}

.gamma > img{
  display: block;
  width: 100%;
}

/* -------------------------------- Media Queries -----------------------------------*/
/* -------------------------------- ------------- -----------------------------------*/

/* ---------Min width--------*/
@media (min-width: 1399.98px) {}

/* ---------Max width--------*/
@media (max-width: 1699.98px) {
  .alfa{
    padding: 130px 8% 0 8%;
  }

  /* ---------------- Services -------------------*/
  .ser-box{
    height: 120px;
    padding: 32px 0 0 11%;
    font-size: 2.4rem;
  }

  .ser-pic{
    height: 56px;
  }

  .gamma{
    margin-top: 170px;
  }
}

@media (max-width: 1459.98px) {
  .alfa{
    padding: 110px 8% 0 8%;
  }

  /* ---------------- Services -------------------*/
  .ser-box{
    height: 100px;
    padding: 27px 0 0 11%;
    font-size: 2rem;
  }

  .ser-pic{
    height: 46px;
    padding-right: 10%;
  }

  .gamma{
    margin-top: 150px;
  }
}

@media (max-width: 1329.98px) {}

@media (max-width: 1259.98px) {
  .alfa{
    padding: 100px 8% 0 8%;
  }

  /* ---------------- Services -------------------*/
  .ser-box{
    height: 90px;
    padding: 22px 0 0 11%;
    font-size: 1.8rem;
    line-height: 130%;
  }

  .ser-pic{
    height: 42px;
    padding-right: 7%;
  }

  .change1{
    padding-right: 10%;
  }

  /* ---------------- Beta -------------------*/
  .beta{
    grid-template-columns: 40vw 52vw;
    padding: 0 0 0 8vw;
    font-size: 1.2rem;
  }
}

@media (max-width: 1091.98px) {
  /* ---------------- Services -------------------*/
  .ser-box{
    height: 75px;
    padding: 16px 0 0 11%;
    font-size: 1.6rem;
    line-height: 125%;
  }

  .ser-pic{
    height: 38px;
  }

  .gamma{
    margin-top: 120px;
  }
}

@media (max-width: 991.98px) {
  /* ---------------- Alfa -------------------*/
  .alfa{
    gap: 10vh 6vw;
  }

  /* ---------------- Services -------------------*/
  #services{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 80px 8%;
  }

  .ser-box{
    height: 90px;
    padding: 20px 0 0 15%;
    font-size: 2rem;
  }

  .ser-pic{
    height: 48px;
    padding-right: 15%;
  }

  /* ---------------- Beta -------------------*/
  .beta{
    font-size: inherit;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    gap: 60px 0;
    line-height: 150%;
    padding: 0 8vw;
  }

  .b2{
    aspect-ratio: auto 1.5 / 1;
    background-position: center;
  }
}

@media (max-width: 840.98px) {
  /* ---------------- Alfa -------------------*/
  .alfa{
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    gap: 50px 0;
    padding: 80px 8% 0 8%;
  }

  .a1{
    grid-area: inherit;
  }

  /* ---------------- Beta -------------------*/
  .beta{
    gap: 0;
    margin-bottom: 30px;
  }

  .b2{
    display: none;
  }

  /* ---------------- Gamma -------------------*/
  .gamma{
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 0 8vw;
    margin-top: 0px;
  }

  .gamma > img:nth-child(5), .gamma > img:nth-child(6){
    display: none;
  }
}

@media (max-width: 749.98px) {
  /* ---------------- Services -------------------*/
  #services{
    gap: 25px;
    margin: 60px 8%;
  }

  .ser-box{
    height: 80px;
    padding: 16px 0 0 15%;
    font-size: 1.8rem;
  }

  .ser-pic{
    height: 44px;
  }
}

@media (max-width: 633.98px) {
  /* ---------------- Alfa -------------------*/
  .alfa{
    padding: 70px 8% 0 8%;
  }

  .a1{
    display: none;
  }

  /* ---------------- Services -------------------*/
  #services{
    gap: 25px;
    margin: 40px 8%;
  }

  .ser-box{
    height: 70px;
    padding: 14px 0 0 11%;
    font-size: 1.6rem;
  }

  .ser-pic{
    height: 38px;
    padding-right: 10%;
  }

  .change1{
    padding-right: 10%;
  }

  /* ---------------- Gamma -------------------*/
  .gamma{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 50px 0;
    margin: 0 0 80px 0;
  }

  .gamma > img:nth-child(2), .gamma > img:nth-child(4){
    display: none;
  }
}

@media (max-width: 499.98px) {
  /* ---------------- Services -------------------*/
  #services{
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 20px 0;
    margin: 50px 8%;
  }

  .ser-box{
    height: 90px;
    padding: 22px 0 0 15%;
    font-size: 1.9rem;
    letter-spacing: 0.5px
  }

  .ser-pic{
    height: 46px;
    padding-right: 15%;
  }

  .change2{
    padding-right: 12%;
  }
}

@media (max-width: 439.98px) {
  .gamma{
    gap: 0;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 369.98px) {
  /* ---------------- Services -------------------*/
  #services{
    gap: 20px 0;
    margin: 50px 8%;
  }

  .ser-box{
    height: 90px;
    padding: 20px 0 0 10%;
    font-size: 1.8rem;
  }

  .ser-pic{
    height: 46px;
    padding-right: 10%;
  }

  .change2{
    padding-right: 7%;
  }
}

@media (max-width: 269.98px) {
  .alfa{
    padding: 40px 8% 0 8%;
  }
  /* ---------------- Services -------------------*/
  #services{
    gap: 20px 0;
    margin: 50px 8%;
  }

  .ser-box{
    height: 80px;
    padding: 20px 0 0 6%;
    font-size: 1.6rem;
  }

  .ser-pic{
    height: 38px;
    padding-right: 6%;
  }

  .change2{
    padding-right: 7%;
  }
}

/* -------- Max HEIGHT ------*/
@media (max-height: 419.98px) {}

@media (max-height: 349.98px) {}
/* End @media Queries*/
