/* ---------------- Benefits -------------------*/
#benefits{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "aaa bbb ccc ddd";
  margin: 180px 7vw;
  overflow: hidden;
}

#aaa { grid-area: aaa; }
#bbb { grid-area: bbb; }
#ccc { grid-area: ccc; }
#ddd { grid-area: ddd; }

#benefits > div{
  margin: 0 40px 0 75px;
}

#benefits > div > img{
  height: 83px;
  display: block;
}

.box1{
  margin: 40px 0 20px 0;
}

.box2{
  line-height: 200%;
  padding-bottom: 25px;
}

#benefits > div > img:nth-child(1,2,4){
  color: black;
  background-color: white;
}

/* ---------------- Offer -------------------*/
.offer{
  display: grid;
  grid-template-rows: 1fr 1fr fit-content(2fr);
  grid-template-columns: 30vw 20vw 10vw auto;
}

.o1{
  min-height: 100vh;
  grid-area: 1 / 1 / 4 / 4;
  background-color: #66a7ca;
  background-image: url("/images/pictures/storage.jpg");
  background-size: cover;
}

.o1 > p{
  display: table;
  padding: 2px 6px;
  margin: 14vh 0 0 15vw;
}

h3{
  margin-left: 15vw;
}

.o2{
  min-height: 57vh;
  grid-area: 3 / 2 / 4 / 3;
  background-color: #caccc9;
  background-image: url("/images/pictures/trucks.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.o2 > p{
  margin: auto 0 6vh 3vw;
  font-family: 'Barlow Condensed', sans-serif;
}

.o3{
  grid-area: 2 / 3 / 4 / 5;
  background-color: #e2e2e2;
  margin-right: 6.7vw;
  padding: 0 7vw 9vh 7vw;
  line-height: 200%;
}

.o3 > p{
  margin: 13vh 0 3vh 0;
}

.o4{
  letter-spacing: 0.3px;
  overflow: hidden;
}

/* -------------------------------- Media Queries -----------------------------------*/
/* -------------------------------- ------------- -----------------------------------*/

/* ---------Min width--------*/
@media (min-width: 1399.98px) {}

/* ---------Max width--------*/
@media (max-width: 1629.98px) {
  /* ---------------- Benefits -------------------*/
  #benefits{
    margin: 140px 7vw;
  }
}

@media (max-width: 1459.98px) {
  /* ---------------- Benefits -------------------*/
  #benefits{
    margin: 120px 7vw;
  }
}

@media (max-width: 1329.98px) {}

@media (max-width: 1259.98px) {
  /* ---------------- Benefits -------------------*/
  #benefits{
    margin: 110px 7vw;
  }

  #benefits > div{
    margin: 0 30px 0 45px;
  }

  #benefits > div > img{
    height: 73px;
  }
}

@media (max-width: 1149.98px) {
  /* ---------------- Benefits -------------------*/
  #benefits{
    margin: 100px 4%;
  }

  #benefits > div{
    margin: 0 25px 0 40px;
  }

  #benefits > div > .font2{
    font-size: 1.9rem;
  }

  #benefits > div > img{
    height: 70px;
  }
}

@media (max-width: 991.98px) {
  /* ---------------- Benefits -------------------*/
  #benefits{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "aaa ddd" "bbb ccc";
    margin: 100px 15%;
    gap: 50px 15%;
    box-sizing: border-box;
    overflow: inherit;
  }

  #benefits > div{
    width: 100%;
    height: auto;
    margin: 0;
  }

  #benefits > div > .font2{
    font-size: 2.1rem;
  }

  #benefits > div > img{
    height: 63px;
    display: block;
    float: left;
  }

  .box1{
    margin: 5px 0 30px 40%;
    line-height: 120%;
  }

  .box2{
    line-height: 170%;
    padding-top: 20px;
  }
}

@media (max-width: 840.98px) {
  /* ---------------- Benefits -------------------*/
  #benefits{
    margin: 80px 10%;
    gap: 40px 10%;
  }

  .box1{
    margin: 5px 0 30px 35%;
  }
}

@media (max-width: 749.98px) {}

@media (max-width: 633.98px) {
  /* ---------------- Benefits -------------------*/
  #benefits{
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "aaa" "bbb" "ccc" "ddd";
    margin: 70px 20%;
    gap: 20px;
    box-sizing: border-box;
    text-align: justify;
  }

  #benefits > div > img{
    height: 63px;
    display: block;
    float: left;
  }

  .box1{
    margin: 5px 0 10px 115px;
    line-height: 120%;
  }
}

@media (max-width: 499.98px) {
  /* ---------------- Benefits -------------------*/
  #benefits{
    margin: 70px 10%;
    text-align: inherit;
  }
}

@media (max-width: 439.98px) {}

@media (max-width: 339.98px) {
  /* ---------------- Benefits -------------------*/
  #benefits{
    margin: 40px 10%;
    gap: 20px 0;
    text-align: inherit;
  }

  #benefits > div > .font2{
    font-size: 1.8rem;
  }

  #benefits > div > img{
    height: 50px;
  }

  .box1{
    margin: 5px 0 10px 40%;
    line-height: 110%;
  }
}

@media (max-width: 239.98px) {
  /* ---------------- Benefits -------------------*/
  #benefits > div > .font2{
    font-size: 1.4rem;
  }

  #benefits > div > img{
    height: 40px;
  }

  .box1{
    margin: 5px 0 10px 30%;
    line-height: 100%;
  }
}
/* End @media Queries*/
