/* ---------------- About -------------------*/
.about{
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 2fr;
  margin: 20vh 0;
  padding: 0;
}

.mediumpic{
  grid-area: 1 / 1 / 3 / 3;
  background-image: url("/page/images/pictures/rails.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  margin-left: 8vw;
}

.smallpic{
  background-color: #999;
  grid-area: 2 / 2 / 4 / 3;
  background-image: url("/page/images/pictures/ramp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 8vw;
}

.rightbox{
  grid-area: 1 / 3 / 4 / 4;
  margin-left: 8vw;
  margin-right: 16vw;
}

.r1{
  display: table;
  padding: 2px 6px;
  margin-top: 7vh;
}

.rightbox > p{
  margin: 5vh 0 3vh 0;
  line-height: 200%;
}

.rightbox > a >.btnred{
  margin-bottom: 3vh;
}

/* ---------------- Gallery -------------------*/
.galery{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 21vh;
}

.g1{
  padding-top: 85%;
  background-image: url("/page/images/pictures/storageplaza.jpg");
  background-size: cover;
}

.g2{
  padding-top: 85%;
  background-image: url("/page/images/pictures/train.jpg");
  background-size: cover;
}

.g3{
  padding-top: 85%;
  background-image: url("/page/images/pictures/highway.jpg");
  background-size: cover;
}

/* -------------------------------- Media Queries -----------------------------------*/
/* -------------------------------- ------------- -----------------------------------*/

/* ---------Min width--------*/
@media (min-width: 1399.98px) {}

/* ---------Max width--------*/
@media (max-width: 1329.98px) {}

@media (max-width: 1199.98px) {
  /* ---------------- About -------------------*/
  .about{
    margin: 13vh 0;
  }

  .mediumpic{
    margin-left: 4vw;
  }

  .smallpic{
    margin-left: 4vw;
  }

  .rightbox{
    margin-left: 6vw;
    margin-right: 4vw;
  }

  .r1{
    margin-top: 4vh;
  }

  .rightbox > p{
    margin: 5vh 0 3vh 0;
    line-height: 200%;
  }

  .rightbox > a >.btnred{
    margin-bottom: 3vh;
  }
}

@media (max-width: 991.98px) {
  /* ---------------- About -------------------*/
  .about{
    grid-template-rows: auto 60vh;
    grid-template-columns: 100%;
  }

  .mediumpic{
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 0;
  }

  .smallpic{
    display: none;
  }

  .rightbox{
    grid-area: 1 / 1 / 2 / 2;
    margin: 0 8vw;
  }

  .r1{
    display: table;
    padding: 2px 6px;
    margin: 0 auto;
  }

  .rightbox > .font3{
    font-size: 7vw;
    text-align: center;
  }

  .rightbox > p{
    margin: 4vh 0 3vh 0;
  }

  .rightbox > a >.btnred{
    display: none;
  }

  /* ---------------- Gallery -------------------*/
  .galery{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 10vh;
  }

  .g3{
    display: none;
  }
}

@media (max-width: 840.98px) {}

@media (max-width: 749.98px){}

@media (max-width: 633.98px) {
  /* ---------------- About -------------------*/
  .about{
    margin-bottom: 0;
  }

  .rightbox > .font3{
    font-size: 14vw;
  }

  /* ---------------- Gallery -------------------*/
  .galery{
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin-top: 0;
  }

  .g2, .g3{
    display: none;
  }
}

@media (max-width: 439.98px) {}

@media (max-width: 339.98px) {}
